.sidenav a {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.sidenav {
  background-color: #ffd700;
  padding: 10px;
  width: 100%;
  margin-left: -20px;
}

.content {
  padding: 20px;
  color: #eeeeee;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 100px;
}

.menu {
  background-color: #ffd700;
  margin-left: -10px;
  margin-top: 1.25em;
  text-align: center;
  position: sticky;
  width: 100%;
  padding: 10px;

}
.menu a{
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

a {
  color: #022c43;
}

a:hover {
  color: #115173;
}

.img-links {
  text-decoration:none
  border: 0 none;
  padding: 10px;
}
body {
  background-color: #115173;
}
header {
  text-align: center;
  background-color: #022c43;
  padding: 1.5em;
  margin: -15px;
  color: #eeeeee;
  position: sticky;
  top: 0;
  width: 100%;
}
footer {
  text-align: center;
  background-color: #022c43;
  padding: 0.5em;
  margin: -10px;
  color: #eeeeee;
  bottom: 0;
  position: fixed;
  width: 100%;
}
