.sidenav a {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.sidenav {
  background-color: #ffd700;
  padding: 10px;
  width: 100%;
  margin-left: -20px;
  position: sticky;
  position: -webkit-sticky;
}

.content {
  padding: 20px;
  color: #eeeeee;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 125px;
}

.menu {
  background-color: #ffd700;
  margin-top: 1.25em;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  margin-left: -15px;
  width: 100%;
  padding: 10px;
}
.menu a{
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

a {
  color: #022c43;
}

a:hover {
  color: #115173;
}

.img-links {
  text-decoration:none
  border: 0 none;
  padding: 10px;
}

input[type=text], [type=email], select {
  width: 50%;
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


.button {
  background-color: #ffd700;
  border: 2px solid black;
  border-radius: 8px;
  color: black;
  width: 100px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition: all 0.5s;
  cursor: pointer;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.contact {
  display: block;
  margin: auto;
  width: 50%;
}
.contact input:required, textarea:required {
  border-color: palegreen;
}
.contact input:invalid, textarea:invalid {
  border-color: salmon;
}

body {
  background-color: #115173;
  padding-bottom: 60px;
}
header {
  text-align: center;
  background-color: #022c43;
  padding: 1.5em;
  margin: -15px;
  color: #eeeeee;
  position: sticky;
  top: 0;
  width: 100%;
}
footer {
  text-align: center;
  background-color: #022c43;
  padding: 0.5em;
  margin: -10px;
  color: #eeeeee;
  bottom: 0;
  position: fixed;
  width: 100%;
}
