.sidenav a {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.sidenav a:hover {
  color: red;
}

.content {
  padding: 25px;
  color: white;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 50px;
}
.content a {
  color: white;
}
.content a:hover {
  color: red;
}
body {
  background-color: #003366;
}
header {
  text-align: center;
  background-color: black;
  padding: 1em;
  margin: -10px;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
}
footer {
  text-align: center;
  background-color: black;
  padding: 0.5em;
  margin: -10px;
  color: white;
  bottom: 0;
  position: fixed;
  width: 100%;
}
